@font-face{
	font-family: 'japon';
	src:url('font-japon/Axis_Extrabold.otf') format('truetype');
}

body{
	background-color: #282828;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color:white;
	font-family: japon;
	align-content: space-around;
	text-align: center;
}

.title{
	text-shadow: 2px 2px 4px black;
	font-size: 30px;
}

iframe{
	box-shadow: 0px 0px 10px #b14eed;
	z-index: 0;
	width: 60%;
	height: 60%;
}
h3{
	margin: 5% auto;
	max-width: 50%;
}

.ecart{
	margin: auto;
	background-color: #b14eed; /* #ed4eda #ed4e8a #ed614e #edb14e #daed4e*/
	height: 10px;
	width: 50%;
	border-radius: 30%;
}

.description{
	justify-content: space-around;
	display: flex;
}